<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.verbosetech.fooddude">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.verbosetech.fooddude.MyApp"
        android:largeHeap="true">



        <activity android:name="com.verbosetech.fooddude.Activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name="com.verbosetech.fooddude.Activities.FoodActivity"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.FoodDetailActivity"
                  android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.CartActivity"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.ConfirmActivity"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.PaymentActivity"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.RefineActivity"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.SignInActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.MainActivity"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.AddAddressActivity"></activity>
        <activity android:name="com.verbosetech.fooddude.Activities.EditActivity"></activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4wgpSFsyKJ7vOS0iAJjLjwGOhe62rTI0" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
